/* login-style.css | version: 1.0 */
/* admin page */
.login {
    background-color: #131313;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.login h1 a {
    background: url(images/logo.png);
    background-size: 100% 100%;
    height: 100px;
    width: 250px;
}
.login .message .button-primary {
    background: #ff0 !important;
    border-color: (#ff0 - #111);
    color: black;
    font-weight: bold;
}
.login .message .button-primary:hover {
    color: black;
    font-weight: bold;
    border: 1px solid black;
    background-color: (#ff0 - #111) !important;
}
/* pop up box */
#wp-auth-check-wrap #wp-auth-check {
    background: #131313;
}
#wp-auth-check-wrap .wp-auth-check-close {
    background: #fff;
}
